h1{
    color:brown;

}
#colors{
    color:rgb(74, 139, 8);
}
.food-align{
    display:flex;
    width:80%;
    padding:80px ;
}
button{
    font-size:12px;
    color:black;
    background-color:green ;
    border:0;
    text-decoration:none ;
    text-align: center;  
    padding:10px 10px;
    border-radius:15px ;

}
#image-size{
    width: 60%;
}
#Food{
    font-size:80px;
}
