h1{
    color:brown;

}
#colors{
    color:rgb(74, 139, 8);
}
.food-align{
    display:flex;
    width:80%;
    padding:80px ;
    margin-bottom:60px;
}
button{
    font-size:12px;
    color:black;
    background-color:green ;
    border:0;
    text-align:center;  
    padding:10px 10px;
    border-radius:15px ;

}
#image-size{
    width: 60%;
}
.Food{
    
}
.add_image{
    background-image:url(/shapes/Frame\ 57.jpg);
    background-repeat:no-repeat ;
    background-size:1200px ;
}
.food-item{
   box-shadow:5px,10px,1700px,green ;
   width:50%;
   margin-left:5px;
   margin-right:5px;
   border-radius:15px;

    
}
.food-item image{
    border-radius:15px;
}
.change-area{
    width:60%;
}
.change-area img{
    width:100%;
    border-bottom-left-radius: 15px;
}
body{
    margin:0;
    padding:0;
}
.food{
    font-size:50px;
}
.image_border{
    border-radius:20px;
}
.exceptional-item{
    text-align: center;
    font-size: 20px;
}
section{
    margin:-1;
    width:110%;
}
footer {
    color:chocolate;
    text-align: center;
    background-color:black;
}
footer span{
    color:rgb(238, 71, 11);
    
}